<hivemq>
    <listeners>
        <tcp-listener>
            <port>1883</port>
            <bind-address>0.0.0.0</bind-address>
        </tcp-listener>
    </listeners>
    <persistence>
        <mode>in-memory</mode>
    </persistence>

    <priorities>
        <priority>
            <filter>flash/#</filter>
            <priority>100</priority>
            <priority-class>FLASH</priority-class>
        </priority>
        <priority>
            <filter>immediate/#</filter>
            <priority>100</priority>
            <priority-class>IMMEDIATE</priority-class>
        </priority>
    </priorities>
</hivemq>