deleted file mode 100644
index b6990ac..0000000
--- a/broker/src/packaging/conf/config.xml
+++ /dev/null
@@ -1,24 +0,0 @@
-<hivemq>
-    <listeners>
-        <tcp-listener>
-            <port>1883</port>
-            <bind-address>0.0.0.0</bind-address>
-        </tcp-listener>
-    </listeners>
-    <persistence>
-        <mode>in-memory</mode>
-    </persistence>
-
-    <priorities>
-        <priority>
-            <filter>flash/#</filter>
-            <priority>100</priority>
-            <priority-class>FLASH</priority-class>
-        </priority>
-        <priority>
-            <filter>immediate/#</filter>
-            <priority>100</priority>
-            <priority-class>IMMEDIATE</priority-class>
-        </priority>
-    </priorities>
-</hivemq>
\ No newline at end of file
